header {
    display: flex;
    justify-content: space-between; 
    padding: 1rem 5%;
    background-color: #ffffff;
    width: 100%; 
    box-sizing: border-box;
}

#img-logo {
    width: 180px;
    display: block;
}

#btn-reiniciar {
    padding: 10px 20px;
    white-space: nowrap;
}